<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>
    success
    <!--th:text= 将div文本内容设置-->
    <div id= "div01" class="myDiv" th:id="${hello}" th:text="${hello}" th:class="${hello}">这里显示欢迎信息</div>
    <hr/>
    <div th:text="${hello}"></div>
    <div th:utext="${hello}"></div>
    <hr/>
    <div></div>

    <h4 th:text="${user}" th:each="user:${users}"></h4>
    <!--hr画线-->
    <hr/>
    <h4>
        <span th:each="user:${users}">[[${user}]]</span>
    </h4>
</body>
</html>